.Mcointainer{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 8rem;
    gap: 8rem;
}
.content-cointainer{
display: flex;
flex-direction: column;
gap: 2rem;
  
    
}
.h11{
    font-size: 2rem;
}
.p1{
font-size:1.5rem ;

}
.p2{
    font-size: 1.5rem;
    width: 35vw;
}

.img1{
    width: 11.5rem;
}