.ReportCointainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 81vw;
    top: 7rem;
    left: 10vw;
    background-color: white;
    gap: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-height: 32rem;
    overflow-y: scroll;
    overflow-x: hidden;
    
    }
    .col{
        width: 2rem;
        text-align: center;
    }
    
    .col2{
        width: 10rem;
        text-align: center;
    }
    .col3{
        width: 15rem;
        text-align: center;
    }
    .col1{
        width: 5rem;
        text-align: center;
    }
    .col4{
        width: 5rem;
        text-align: center;
        color: red;
    }
    .tablePersons{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .head{
        display: flex;
        gap: 3rem;
        padding: 1rem;
        font-size: larger;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    }

.upperMain{
display: flex;
background-color: #5cc5a7;
justify-content: space-between;
padding: .5rem;
color: white;
font-weight: bolder;
font-size: 1.4rem;
border-radius: .5rem .5rem 0 0; 
 width: 80vw;
 position: sticky;
 top: 0;


}
.middle{
    display: flex;
    justify-content: space-between;
    padding: .1rem 2rem;
}
.des{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 30vw;  
}

.pD{
    font-size: 1.6rem;
    overflow: auto;
    max-height: 8vw;
    min-height: 8vw;
    border:  1px solid rgba(128, 128, 128, 0.295);
    color: rgba(0, 0, 0, 0.781);
    padding: .3rem;

    
}
.TA{
    display: flex;
    gap: 1rem;
align-items: center;
}
.A{
    font-size: 1.8rem;
    font-weight: bolder;
    color: #5bc5a7;
}
.ED{
    display: flex;
    gap: .5rem;
   align-items: center;
   gap: 1rem;
}
.D{
    font-size: 1.4rem;
    color: #5bc5a7;
    font-weight: bold;
}
.TED{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.download{
    padding: 1rem;
    background-color: #ff652f;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.479);
    border: none;
    border-bottom: 0.5 black;
    border-radius: 3px;
    cursor: pointer;
    width: 10rem;
    align-self: flex-end;
    margin-right: 3rem;
}
.download:hover{
    font-size: 1.2rem;
}